body {
    background: #222;
    margin: 0; padding: 0;
}
h1 {
    color: #444;
    text-align: center;
    text-shadow: 2px 2px 0px #000;
    font-weight: normal;
    font-size: 28px;
    font-family: georgia;
    margin: 0 0 10px 0;
    cursor: pointer;
}
h1.active {
    color: #e69d1e;
    cursor: default;
}
#content {
    padding: 10px;
}
#game {
    width: 640px;
    height: 480px;
    margin: 0 auto;
    background: #000;
    border: 5px solid #292929;
}
#game > * {
    position: absolute;
    width: 640px;
    height: 480px;
}
#hud {
    color: #eee;
    z-index: 3;
}
#hud #packs {
    width: 440px;
    height: 440px;
    margin: 10px auto;
    padding: 10px;
    background: rgba(0,0,0,0.7);
}
#hud h2 {
    font-family: sans-serif;
    letter-spacing: 4px;
    text-align: center;
    color: #9e0000;
    font-weight: normal;
}
#hud ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
#hud #packs li {
    margin: 6px 40px;
    padding: 6px 10px;
    border: 2px solid #500;
    outline: 2px solid #300;
    background: #220000;
    font-family: monospace;
    font-size: 16px;
    color: #ffe4e4;
    text-shadow: 2px 2px 0px #000;
}
#hud #packs li:hover, #hud #packs li.selected {
    background: #300;
    cursor: pointer;
}
#hud #description {
    width: 440px;
    margin: 10px auto;
    padding: 10px;
    background: rgba(0,0,0,0.4);
}

#messages {
    color: #e69d1e;
    text-shadow: 2px 2px 0px #000;
    font-size: 28px;
    font-family: monospace;
    text-align: center;

    width: 640px;
    margin: 20px auto;
}
.inactive {
    opacity: 0.3;
}
.inactive input:hover {
    background: #666;
    pointer: default;
}
#timer {
    font-family: monospace;
    letter-spacing: -0.1em;
    text-align: center;
    color: #555;
    text-shadow: -1px -1px 0px #666;
    font-size: 60px;
    line-height: 100px;
}
#players {
    font-family: sans-serif;
    list-style: none;
    font-size: 12px;
    line-height: 16px;
    color: #888;
    padding: 5px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px #000;
}
#players li {
    margin-top: 10px;
}
#players .color {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid #000;
}
#players .name {
    color: #ccc;
    font-weight: bold;
}
.controls {
    margin-left: 23px;
    margin-top: 5px;
    color: #555;
}
.controls .button {
    color: #aaa;
    background: #444;
    border: 1px solid #555;
    padding: 1px 5px;
    cursor: default;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
