/** Reset: */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{background:transparent;border:0;margin:0;outline:0;padding:0;vertical-align:baseline}
body{color:#444;font:14px 'Lucida Grande', Arial, sans-serif}
html{overflow-y:scroll}
select,input,textarea,button{font:99% sans-serif}
h2,h3,h4{font-weight:400}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{background:transparent;font-size:100%;margin:0;padding:0;vertical-align:baseline}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{border:0;border-top:1px solid #ccc;display:block;height:1px;margin:1em 0;padding:0}
pre,code,kbd,samp{font-family:monospace, sans-serif}
a:hover,a:active{outline:none}
small{font-size:85%}
strong,th{font-weight:700}
td,td img{vertical-align:top}
sub{font-size:smaller;vertical-align:sub}
sup{font-size:smaller;vertical-align:super}
pre{word-wrap:nowrap;overflow-x:auto;}
textarea{overflow:auto}
input[type=radio]{vertical-align:text-bottom}
label,input[type=button],input[type=submit],button{cursor:pointer}
button,input,select,textarea{margin:0}
::-moz-selection{background:#FF5E99;color:#fff;text-shadow:none}
::selection{background:#ddd;color:#000;text-shadow:none}
a:link{-webkit-tap-highlight-color:#4ba3de}
button{overflow:visible;width:auto}
p{margin-bottom:1em;margin-top:.5em}
input,select,input[type=checkbox]{vertical-align:middle}

/**/

ul.vertical, ul.horizontal {
    list-style: none;
}
ul.horizontal {
    overflow: hidden;
}
ul.horizontal > li {
    float: left; margin-right: 10px;
}
ul.horizontal > li:last-child {
    margin-right: 0px;
}
.rounded-5 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.rounded-10 {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.hidden {
    display: none;
}

/**/


body {
    background: #222;
    margin: 0; padding: 0;
}
h1 {
    color: #444;
    text-shadow: 2px 2px 0px #000;
    font-weight: normal;
    font-size: 28px;
    font-family: georgia;
    cursor: pointer;
    margin: 0;
}
h1.active {
    color: #e69d1e;
    cursor: default;
}
#header {
    width: 640px;
    height: 40px;
    line-height: 40px;
    padding-bottom: 10px;
    margin: 0px auto;
}
#header #score {
    float: right;
    font-size: 28px;
    color: #999;
    text-shadow: 2px 2px 0px #000;
    font-family: georgia;
}
#content {
    padding: 10px;
}
#game {
    width: 640px;
    height: 480px;
    margin: 0 auto;
    background: #000;
    border: 5px solid #292929;
}
#game > *, #game canvas {
    position: absolute;
    width: 640px;
    height: 480px;
    z-index: 1;
}

/** Hud **/

#hud {
    display: none;
    color: #eee;
    z-index: 999;
}
#hud #play {
    color: #e69d1e;
    font-size: 4em;
    line-height: 480px;
    text-align: center;
    cursor: pointer;
}
#hud #levels {
    width: 500px;
    height: 280px;
    margin: 90px 60px;
    padding: 10px;
}
#hud #levels li {
    width: 100px;
    height: 80px;
    background: #999;
    margin: 10px 12px;

    border-radius: 5px;
}


#hud #packs {
    width: 440px;
    height: 440px;
    margin: 10px auto;
    padding: 10px;
    background: rgba(0,0,0,0.7);
}
#hud h2 {
    font-family: sans-serif;
    letter-spacing: 4px;
    text-align: center;
    color: #9e0000;
    font-weight: normal;
}
#hud ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
#hud #packs li {
    margin: 6px 40px;
    padding: 6px 10px;
    border: 2px solid #500;
    outline: 2px solid #300;
    background: #220000;
    font-family: monospace;
    font-size: 16px;
    color: #ffe4e4;
    text-shadow: 2px 2px 0px #000;
}
#hud #packs li:hover, #hud #packs li.selected {
    background: #300;
    cursor: pointer;
}
#hud #description {
    width: 575px;
    position: absolute;
    bottom: 0;
    margin: 10px 10px;
    padding: 10px 20px;
    background: rgba(0,0,0,0.6);
    border: 2px solid rgba(0,0,0,0.2);
    color: #e69d1e;
    font-size: 12px;
    font-family: sans-serif;
    text-shadow: 1px 1px 0px #000;
    text-align: center;
}



#messages {
    color: #e69d1e;
    text-shadow: 2px 2px 0px #000;
    font-size: 28px;
    font-family: monospace;
    text-align: center;

    width: 640px;
    margin: 20px auto;
}
.inactive {
    opacity: 0.3;
}
.inactive input:hover {
    background: #666;
    pointer: default;
}
#timer {
    font-family: monospace;
    letter-spacing: -0.1em;
    text-align: center;
    color: #555;
    text-shadow: -1px -1px 0px #666;
    font-size: 60px;
    line-height: 100px;
}
#players {
    font-family: sans-serif;
    list-style: none;
    font-size: 12px;
    line-height: 16px;
    color: #888;
    padding: 5px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px #000;
}
#players li {
    margin-top: 10px;
}
#players .color {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid #000;
}
#players .name {
    color: #ccc;
    font-weight: bold;
}
.controls {
    margin-left: 23px;
    margin-top: 5px;
    color: #555;
}
.controls .button {
    color: #aaa;
    background: #444;
    border: 1px solid #555;
    padding: 1px 5px;
    cursor: default;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
